.idea/
.vscode/
*.sqlite3
__pycache__/
*.rdb
.DS_Store
mysite/mysite/settings/settings.py

# celery
celerybeat.pid
celerybeat-schedule*

logs/*.log

running/cdn
*.sock

# docker
postgres/data/
.bash_history
.cache
.ipython

venv/