[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
flower = "*"
flake8 = "*"
drf-yasg = {extras = ["validation"],version = "*"}

[packages]
django = ">=2.0"
pillow = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
tornado = "*"
gunicorn = "*"
raven = "*"
fabric3 = "*"
ipython = "*"
hotqueue = "*"
requests = "*"
redis = "*"
lxml = "*"
flake8 = "*"
faker = "*"
celery = "*"
requests-html = "*"
bs4 = "*"

[requires]
python_version = "3.7"
