<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for foo in loop %}
        <h1>{{ foo }}</h1>
        <div class="box-content" id="org_stream_flow{{ foo }}"></div>
    {% endfor %}
    
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/plotly.js/1.18.1/plotly.min.js"></script>
<script src="https://cdn.bootcss.com/d3/4.13.0/d3.min.js"></script>
<script>
    $(document).ready(function () {
        // plotly绘制流量图
        for (var i=0; i < {{ loop|length }}; i++) {
            plot_server_flow(i);
        }

    });
    function plot_server_flow(target) {
            var url = '/influxdb_plotly/stream_data/';
            d3.json(url, function (error, result) {
                if (result.is_success == false) {
                    layer.msg("没有获得正确的流量数据")
                } else {
                    var data = result.data.data;
                    var layout = result.data.layout;
                    var settings = result.data.settings;
                    Plotly.newPlot('org_stream_flow' + target, data, layout, settings);
                }
            });
        }

</script>
</html>
